<div class="row">
  <div class="col-md-6">
    <h1>REGISTRATION</h1>
    <form method="POST" action="/register">
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputFirstName">First Name</label>
      <input type="firstname" class="form-control" placeholder="First Name" name="firstname">
    </div>
    <div class="form-group">
      <label for="exampleInputLastName">Last Name</label>
      <input type="lastname" class="form-control" placeholder="Last Name" name="lastname">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <h1>LOGIN</h1>
    <form method="POST" action="/register">
    <div class="form-group">
      <label for="exampleInputEmail1">Email Address</label>
      <input type="email" class="form-control" id="exampleInputEmail" placeholder="email" name="email">
    </div>
    <div class="form-group">
      <label for="exampleInputFirstName">First Name</label>
      <input type="firstname" class="form-control" placeholder="First Name" name="firstname">
    </div>
    <div class="form-group">
      <label for="exampleInputLastName">Last Name</label>
      <input type="lastname" class="form-control" placeholder="Last Name" name="lastname">
    </div>
    <div class="form-group">
      <label for="exampleInputPassword1">Password</label>
      <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password" name="password">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>